.row
    %h1.col7 
        Search result for 
        %emphasis
            =@word
    .col4
        =render 'search/search_form', :path_to_submit=>advanced_search_path
=render 'tickets/list'
=will_paginate @tickets, :params=>{word: @word}