.search
    %ul.nav-tabs.nav
        %li.col7
            %h1 
                Search result for 
                %emphasis
                    =@word
        %li.col4
            =render 'search/search_form', :path_to_submit=>search_path
    =render 'tickets/list'
    -if @tickets.any?
        =will_paginate @tickets, :params=>{word: @word}
    -else
        %h3
            Search word must be bigger than 2 symbols