.index
    %h1.text-center 
        Welcome to UFB Tracker
    .row
        .col6.text-right 
            You can create new ticket 
            .row
                =link_to 'Create', 'tickets/new',{:class=>'btn btn-primary'}
            .abs.separator
                or
        .col6
            Find your ticket by UID 
            =form_tag search_path do
                .row
                    =text_field_tag :search
                    =submit_tag :search, :class=>'btn btn-submit', :value=>'Search'