.ticket-list-item
    %h3
        =ticket.subject
    %p
        =ticket.body[0..100]
    .controls
        =link_to 'Add Comment', ticket_uid_path(ticket.uid).to_s+'#comments', :class=>'btn'
        =link_to :Details, ticket_uid_path(ticket.uid), :class=>'btn' 