.ticket-list-item
    %h3
        =ticket.subject
    %p
        =ticket.body[0..100]
    .controls
        =link_to 'Add Comment', ticket_path(ticket).to_s+'#comments', :class=>'btn'
        =link_to :Details, ticket_path(ticket), :class=>'btn' 