.col1{width: 8.33%}
.col2{width: 16.66%}
.col3{width: 25%}
.col4{width: 33.33%}
.col5{width: 42.66%}
.col6{width: 50%}
.col7{width: 58.33%}
.col8{width: 66.66%}
.col9{width: 75%}
.col10{width: 83.33%}
.col11{width: 91.66%}
.col12{width: 100%}

.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,
.col11,.col12{float:left;box-sizing:border-box;-moz-box-sizing: border-box;position: relative;vertical-align: top}

.inner,.header,.footer{width:900px;}
.center{margin: 0 auto;}
.row{margin:0;padding:0}
.abs{position: absolute}
.header{font-size: 80px;height:120px;line-height:1}
.header span{color:#0088CC}
.header a{color:#000000}
.header a:hover,.header a:focus{color:#000000;text-decoration: none}
#wrapper {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -4em;} 
.footer,.push{height:4em;clear: both;padding-top: 30px}

.system-notify{width:60%;padding: 20px;font-size: 16px;color:#000000;border:1px solid #000000;box-shadow: inset #000000 0 0 2px;margin: 0 20%}
.system-notify.level-success{border-color:green; box-shadow: inset #22aa22 0 0 2px;color:green}
.system-notify.level-notice{border-color:yellow; box-shadow: inset #22aaaa 0 0 2px;color:yellow}
.system-notify.level-error{border-color:red; box-shadow: inset #aa2222 0 0 2px;color:red}

input[type="text"].error,textarea.error{border-color:red; box-shadow: inset #aa2222 0  0 2px;}

.index .separator{right:-30px;top:70px;font-size:40px;text-transform: uppercase}
.index .col6{padding:50px}
.index .col6 #word, .index .col6 .row .btn{margin-top:10px}

.tickets-edit-new{width:400px}
.tickets-edit-new select{width:398px}
.tickets-edit-new textarea{resize:vertical}
.tickets-edit-new input[type="text"], .tickets-edit-new textarea{width:385px}

.comment-form{width:300px;margin-top: 20px}
.comment-form textarea{resize:verticall;width: 100%}

.comment-single .comment-single {margin-left: 30px}
.nav form{margin:3px 0 0 0}
.nav form input[type="text"]{margin: 0;height: 17px;width:150px}
#logout{width:120px;}

.nav > li#logout > a:hover,.nav > li#logout > a:focus{background: none;border-color: transparent}

.search .nav form{margin:20px 0 0 0}

.ticket-status{color:gray;font-size:10px}
.ticket-status.status_1{color:blue}
.ticket-status.status_2{color:yellow}
.ticket-status.status_3{color:gray}
.ticket-status.status_4{color:red}
.ticket-status.status_5{color:green}