!!!
%html
    %head
        %title
            UFB Tracker
        = stylesheet_link_tag    "bootstrap.min", "bootstrap.theme.min", "style", media: "all"
        = javascript_include_tag "application", "bootstrap.min"
        = csrf_meta_tags
    %body
        #wrapper
            .inner.center
                - flash.each do |level, message|
                    %div{:class=>'system-notify level-'+level.to_s+' text-center'}= message
                =yield

